.breadcrumb {
    margin-bottom: 30px;
}

.tag {
    text-transform: capitalize;
}

.container {
    margin-bottom: 35px;
}

dl {
    display: grid;
    grid-template-columns: max-content auto;
}

dt {
    grid-column-start: 1;
    /*float: left;
    clear: left;
    margin-right: 30px;
    width: 160px;
    text-align: right;*/
    font-weight: bold;
}

dd {
    grid-column-start: 2;
    /*margin-left: 0px;*/
}

.material-symbols-outlined {
    vertical-align: bottom;
    margin-right: 5px;
}

.navbar {
    background-color: #303030;
}

.navbar-item {
    color: #acacac;
    font-weight: bold;
}

.card {
    width: 100%;
}

.btn {
    cursor: pointer;
}

.is-full-width {
    width: 100%;
}
