{{ template "shards/common-top.html" }}
<div class="container">
    <nav class="breadcrumb has-succeeds-separator" aria-label="breadcrumbs">
        <ul>
            <li><a href="/">Overview</a></li>
            <li class="is-active"><a>Factory: {{ .factory.Name }}</a></li>
        </ul>
      </nav>
      <hr />
</div>
<div class="container">
    <div class="card">
        <div class="card-content">
            <div class="media">
                <div class="media-content" style="display: flex; justify-content: space-between;">
                    <p class="title is-4">{{ .factory.Name }}</p>
                    <div>
                        <span class="material-symbols-outlined has-text-warning btn" onclick="showModal('factory-edit');">edit_square</span>
                        <span class="material-symbols-outlined has-text-danger btn" onclick="showModal('factory-delete');">delete</span>
                    </div>
                </div>
            </div>
            <div class="content" style="display: flex; justify-content: space-between;">
              <div>
                <dl>
                  <dt>Floors</dt>
                  <dd>{{ len .factory.Floors }}</dd>
                  <dt>Production lines</dt>
                  <dd>{{ .productionLineCount }}</dd>
                </dl>
              </div>
              <div>
                <dl>
                  <dt>IO North</dt>
                  <dd>{{ .factory.IONorth }}</dd>
                  <dt>IO East</dt>
                  <dd>{{ .factory.IOEast }}</dd>
                </dl>
              </div>
              <div>
                <dl>
                  <dt>IO South</dt>
                  <dd>{{ .factory.IOSouth }}</dd>
                  <dt>IO West</dt>
                  <dd>{{ .factory.IOWest }}</dd>
                </dl>
              </div>
            </div>
        </div>
    </div>
</div>

<div class="" style="display: flex; justify-content: space-between;">
  <div>
    <table class="table">
      <thead>
        <th>Level</th>
        <th>Name</th>
        <th>Status</th>
      </thead>
      <tbody>
        {{ range $floor := .factory.Floors }}
        <tr>
          <th class="has-text-centered">{{ if ge $floor.Level 0 }}{{ $floor.Level }}{{ else }}B{{ mul $floor.Level -1 }}{{ end }}</th>
          <td><a href="{{ $floor.URLView }}">{{ $floor.Name }}</a></td>
          <td><span class="tag {{ $floor.StatusUIClass }} is-full-width">{{ $floor.Status }}</td>
        </tr>
        {{ end }}
        <tr>
          <td colspan="6" style="text-align: center">
            <button class="button is-link" onclick="showModal('floor-new');"><span class="material-symbols-outlined">add_circle</span> Add level</button>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
  <div>
    <table class="table is-bordered is-striped is-narrow is-hoverable">
      <thead>
        <tr>
          <th></th>
          {{ if .factory.IONorth }}<th colspan="4" class="has-text-centered">North</th>{{ end }}
          {{ if .factory.IOEast }}<th colspan="4" class="has-text-centered">East</th>{{ end }}
          {{ if .factory.IOSouth }}<th colspan="4" class="has-text-centered">South</th>{{ end }}
          {{ if .factory.IOWest }}<th colspan="4" class="has-text-centered">West</th>{{ end }}
        </tr>
        <tr>
          <th>Position</th>
          {{ if .factory.IONorth }}
          <th>Lower Right</th>
          <th>Higher Right</th>
          <th>Lower Left</th>
          <th>Higher Left</th>
          {{ end }}
          {{ if .factory.IOEast }}
          <th>Lower Right</th>
          <th>Higher Right</th>
          <th>Lower Left</th>
          <th>Higher Left</th>
          {{ end }}
          {{ if .factory.IOSouth }}
          <th>Lower Right</th>
          <th>Higher Right</th>
          <th>Lower Left</th>
          <th>Higher Left</th>
          {{ end }}
          {{ if .factory.IOWest }}
          <th>Lower Right</th>
          <th>Higher Right</th>
          <th>Lower Left</th>
          <th>Higher Left</th>
          {{ end }}
        </tr>
      </thead>
      <tbody>
        {{ range $i := max .factory.IONorth .factory.IOEast .factory.IOSouth .factory.IOWest }}
        <tr>
          <th class="has-text-centered">{{ $i }}</th>
          {{ if $.factory.IONorth }}
          {{ if lt $i $.factory.IONorth }}
          <td></td>
          <td></td>
          <td></td>
          <td></td>
          {{ else }}
          <td class="has-background-grey-lighter"></td>
          <td class="has-background-grey-lighter"></td>
          <td class="has-background-grey-lighter"></td>
          <td class="has-background-grey-lighter"></td>
          {{ end }}
          {{ end }}
          {{ if $.factory.IOEast }}
          {{ if lt $i $.factory.IOEast }}
          <td></td>
          <td></td>
          <td></td>
          <td></td>
          {{ else }}
          <td class="has-background-grey-lighter"></td>
          <td class="has-background-grey-lighter"></td>
          <td class="has-background-grey-lighter"></td>
          <td class="has-background-grey-lighter"></td>
          {{ end }}
          {{ end }}
          {{ if $.factory.IOSouth }}
          {{ if lt $i $.factory.IOSouth }}
          <td></td>
          <td></td>
          <td></td>
          <td></td>
          {{ else }}
          <td class="has-background-grey-lighter"></td>
          <td class="has-background-grey-lighter"></td>
          <td class="has-background-grey-lighter"></td>
          <td class="has-background-grey-lighter"></td>
          {{ end }}
          {{ end }}
          {{ if $.factory.IOWest }}
          {{ if lt $i $.factory.IOWest }}
          <td></td>
          <td></td>
          <td></td>
          <td></td>
          {{ else }}
          <td class="has-background-grey-lighter"></td>
          <td class="has-background-grey-lighter"></td>
          <td class="has-background-grey-lighter"></td>
          <td class="has-background-grey-lighter"></td>
          {{ end }}
          {{ end }}
        </tr>
        {{ end }}
      </tbody>
    </table>
  </div>
</div>

<!-- edit factory modal -->
<div id="modal-factory-edit" class="modal">
  <div class="modal-background"></div>
  <div class="modal-card">
    <header class="modal-card-head">
      <p class="modal-card-title">Edit a factory</p>
      <button class="delete" aria-label="close"></button>
    </header>
    <section class="modal-card-body">
      <div class="field">
        <label class="label">Name</label>
        <div class="control">
          <input class="input" type="text" id="modal-factory-new-name" placeholder="Name of the new factory" value="{{ .factory.Name }}">
        </div>
      </div>
      <div class="field">
        <label class="label">Inputs on North side</label>
        <div class="control">
          <input class="input" type="number" id="modal-factory-new-io-north" placeholder="40" value="{{ .factory.IONorth }}">
        </div>
      </div>
      <div class="field">
        <label class="label">Inputs on East side</label>
        <div class="control">
          <input class="input" type="number" id="modal-factory-new-io-east" placeholder="40" value="{{ .factory.IOEast }}">
        </div>
      </div>
      <div class="field">
        <label class="label">Inputs on South side</label>
        <div class="control">
          <input class="input" type="number" id="modal-factory-new-io-south" placeholder="40" value="{{ .factory.IOSouth }}">
        </div>
      </div>
      <div class="field">
        <label class="label">Inputs on West side</label>
        <div class="control">
          <input class="input" type="number" id="modal-factory-new-io-west" placeholder="40" value="{{ .factory.IOWest }}">
        </div>
      </div>
    </section>
    <footer class="modal-card-foot">
      <div class="buttons">
        <button class="button is-success" onclick="modalFactoryEdit_Send({{ .factory.ID }});">Save changes</button>
        <button class="button button-exit">Cancel</button>
      </div>
    </footer>
  </div>
</div>

<!-- delete factory modal -->
<div id="modal-factory-delete" class="modal">
    <div class="modal-background"></div>
    <div class="modal-card">
      <header class="modal-card-head">
        <p class="modal-card-title">Delete a factory</p>
        <button class="delete" aria-label="close"></button>
      </header>
      <section class="modal-card-body">
        <p>Are you sure to want to delete factory {{ .factory.Name }} ?</p>
      </section>
      <footer class="modal-card-foot">
        <div class="buttons">
          <button class="button is-danger" onclick="modalFactoryDelete_Send({{ .factory.ID }});">Delete factory</button>
          <button class="button button-exit">Cancel</button>
        </div>
      </footer>
    </div>
</div>

<!-- new floor modal -->
<div id="modal-floor-new" class="modal">
  <div class="modal-background"></div>
  <div class="modal-card">
    <header class="modal-card-head">
      <p class="modal-card-title">Add a new floor in {{ .factory.Name }}</p>
      <button class="delete" aria-label="close"></button>
    </header>
    <section class="modal-card-body">
      <div class="field">
        <label class="label">Name</label>
        <div class="control">
          <input class="input" type="text" id="modal-floor-new-name" placeholder="Name of the new floor">
        </div>
      </div>
      <div class="field">
        <label class="label">Floor level</label>
        <div class="control">
          <input class="input" type="number" id="modal-floor-new-level" value="{{ add (len .factory.Floors ) 1 }}">
        </div>
      </div>
      <div class="field">
        <label class="label">Status</label>
        <div class="control">
          <div class="select" style="width: 100%;">
            <select id="modal-floor-new-status" style="width: 100%;">
              <option value="absent">Planned</option>
              <option value="in-progress">In Progress</option>
              <option value="done">Done</option>
            </select>
          </div>
        </div>
      </div>
    </section>
    <footer class="modal-card-foot">
      <div class="buttons">
        <button class="button is-success" onclick="modalFloorNew_Send({{ .factory.ID }});">Save changes</button>
        <button class="button button-exit">Cancel</button>
      </div>
    </footer>
  </div>
</div>

<script type="text/javascript" src="/assets/js/factory-view.js"></script>

{{ template "shards/common-bottom.html" }}
