{{ template "shards/common-top.html" }}
<div class="container">
  <h1 class="title">Items</h1>
  <hr />
</div>
<div class="container">
    <div class="grid is-col-min-8">
        {{ range $item := .items }}
        <div class="cell">
            <div class="box">
                <article class="media">
                  <div class="media-left">
                    <figure class="image is-64x64">
                      <img src="{{ $item.URLImage }}" />
                    </figure>
                  </div>
                  <div class="media-content">
                    <div class="content">
                      <p>
                        <strong>{{ $item.Name }}</strong>
                      </p>
                    </div>
                </article>
            </div>
        </div>
        {{ end }}
    </div>
</div>
{{ template "shards/common-bottom.html" }}
